{% extends 'base.html' %}

{% block title %}
Student List
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="index.html" class="navbar-brand  d-none d-sm-block">
            <span class="fs-3 fw-bolder">Face Attendance Recognition</span>
        </a>
        <button 
            class="navbar-toggler"
            type = "button"
            data-bs-toggle = "collapse"
            data-bs-target = "#navmenu"
        >
      
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ url_for('index',email_ad=session['email_ad'] ) }}" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('studentList') }}" class="nav-link">Student List</a>
                </li>
                <li class="nav-item">
                    
                    <a href="{{ url_for('logs') }}" class="nav-link">Instructor Logs</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('session_logout') }}" class="nav-link btn btn-dark text-light">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="bg-light py-4 text-dark">
    <div class="container">
        <div class="py-4">
            <h1 class="display-6 mb-4">Your Total Student for Entire Semester</h1>   
            <div class="card rounded-5">
                
                <div class="card-body p-4">
                    <div class="d-flex mx-2">
                        <h4 class="">Student List:</h4>
                        <p class="ms-auto fs-6">S.Y 2023 2nd Semester</p>
                    </div>
                        
                   
                    <div class="table-responsive table-responsive-sm p-4">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Student ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Course</th>
                                <th scope="col">Year Level</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time IN</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for row in results %}
                                <tr>
                                    <td>{{ row['student_id'] }}</td>
                                    <td>{{ row['full_name'] }}</td>
                                    <td>{{ row['course'] }}</td>
                                    <td>{{ row['year_level'] }}</td>
                                    <td>{{ row['gender'] }}</td>
                                    <td>{{ row['email_ad'] }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}